.custom-burger-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  height: 100%;
  justify-content: center;
  img {
    max-width: 100%;
  }
}

.no-ing {
  padding: 0.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  border-radius: 1em;
  margin: 0.5rem 0;
  border: 2px dotted #fff;
}